<div class="container-fluid bg-light">
  <div class="container bg-light">
    <div class="row mt-4" style="height: 500px;">
      <div class="col-md-12 bg-white shadow">
        <div class="card bg-success mt-4">
          <h4 class=" ps-3 pt-2 pb-2"><a routerLink="" class="text-white">Home</a></h4>
        </div>
        <br>
        <div class="card bg-success mt-0 md-4">
          <h4 class=" ps-3 pt-2 pb-2"><a routerLink="add" class="text-white">Add Title and description</a></h4>
        </div>
        <br>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
