<h4 class="text-sucess mt-4"> Title : </h4>
<div style="overflow-y: auto; height: 350px;">
    <div class="m-3" *ngFor="let task of taskArr">
        <div class="p-2 shadow border">
            <div class="input-group row ps-3">
                <div class="card col-md-10 border-0"><a routerLink="title/{{task.id}}">{{task.task_name}}</a></div>
                <!-- <button class = "btn btn-outline-primary col me-2">e</button>
                <button class= "btn btn-outline-danger col">X</button> -->
            </div>
        </div>
    </div>
</div>

